# Time Methods

## Python Datetime Review

Basic Python outside of Pandas contains a datetime library:

In [1]:
from datetime import datetime

In [2]:
# To illustrate the order of arguments
my_year = 2017
my_month = 1 # Jan
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [3]:
# January 2nd, 2017
my_date = datetime(my_year,my_month,my_day)

In [4]:
# Defaults to 0:00
my_date

datetime.datetime(2017, 1, 2, 0, 0)

In [5]:
# January 2nd, 2017 at 13:30:15
my_date_time = datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [6]:
my_date_time

datetime.datetime(2017, 1, 2, 13, 30, 15)

In [7]:
datetime.now()

datetime.datetime(2025, 3, 13, 18, 49, 11, 179977)

You can grab any part of the datetime object you want

In [8]:
my_date.day

2

In [9]:
my_date.hour

0

In [10]:
my_date_time.hour

13

In [11]:
current_time = datetime.now()
print(current_time)

2025-03-13 18:49:16.628499

In [12]:
current_time

datetime.datetime(2025, 3, 13, 18, 49, 16, 628499)

In [13]:
current_time.microsecond
# 1 second = 1000000 micro seconds ()
# 1 second = 1000 milli seconds (ms)

628499

In [14]:
current_time.second

16

In [16]:
# current_time.*?
current_time.month

3

# Pandas

# Converting to datetime

Often when data sets are stored, the time component may be a string. Pandas easily converts strings to datetime objects.

In [17]:
import pandas as pd

In [18]:
myser = pd.Series(['Nov 3, 2000', '2000-01-01', None])

In [19]:
myser

0    Nov 3, 2000
1     2000-01-01
2           None
dtype: object

In [20]:
myser[0]

'Nov 3, 2000'

In [21]:
type(myser[0])

str

### pd.to_datetime()

https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#converting-to-timestamps

In [22]:
pd.to_datetime(myser[0])

Timestamp('2000-11-03 00:00:00')

In [23]:
type(pd.to_datetime(myser[0]))

pandas._libs.tslibs.timestamps.Timestamp

In [24]:
myser[1]

'2000-01-01'

In [25]:
pd.to_datetime(myser[1])

Timestamp('2000-01-01 00:00:00')

In [ ]:
myser

# %b %d, %Y
# %Y-%d-%m

0    Nov 3, 2000
1     2000-01-01
2           None
dtype: object

In [29]:
# pd.to_datetime(myser)

In [30]:
pd.to_datetime(myser,errors='coerce')

0   2000-11-03
1          NaT
2          NaT
dtype: datetime64[ns]

In [31]:
my_series_2 = pd.Series(['2025-03-13', '2000-01-01', None])

In [32]:
pd.to_datetime(my_series_2)

0   2025-03-13
1   2000-01-01
2          NaT
dtype: datetime64[ns]

In [37]:
obvi_euro_date = '31-12-2000'
# DD-MM-YYYY

In [38]:
pd.to_datetime(obvi_euro_date)

C:\Users\Vijaya Nandini\AppData\Local\Temp\ipykernel_11016\272727512.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  pd.to_datetime(obvi_euro_date)

Timestamp('2000-12-31 00:00:00')

In [39]:
obvi_euro_date = '12-31-2000'
# MM-DD-YYYY

In [40]:
pd.to_datetime(obvi_euro_date)

Timestamp('2000-12-31 00:00:00')

In [41]:
# Dec 10 OR Oct 12 ?
# We may need to tell pandas
euro_date = '10-12-2000'

In [42]:
pd.to_datetime(euro_date)  # Default MM-DD-YYYY, hence this is October 12

Timestamp('2000-10-12 00:00:00')

In [45]:
euro_date = '10-03-2025' 
pd.to_datetime(euro_date,dayfirst=True) # Current format DD-MM-YYYY, hence this is Dec 10

Timestamp('2025-03-10 00:00:00')

## Custom Time String Formatting

Sometimes dates can have a non standard format, luckily you can always specify to pandas the format. You should also note this could speed up the conversion, so it may be worth doing even if pandas can parse on its own.

A full table of codes can be found here: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes

In [49]:
style_date = '02--Dec---2000'

In [50]:
pd.to_datetime(style_date, format='%d--%b---%Y')

Timestamp('2000-12-02 00:00:00')

In [56]:
pd.to_datetime('12 November 2000')

Timestamp('2000-11-12 00:00:00')

In [58]:
pd.to_datetime('10-Dec-2000')

Timestamp('2000-12-10 00:00:00')

In [61]:
strange_date = '2nd of Dec 2000'

In [62]:
pd.to_datetime(strange_date)

Timestamp('2000-12-02 00:00:00')

## Data

Retail Sales: Beer, Wine, and Liquor Stores

Units:  Millions of Dollars, Not Seasonally Adjusted

Frequency:  Monthly


U.S. Census Bureau, Retail Sales: Beer, Wine, and Liquor Stores [MRTSSM4453USN], retrieved from FRED, Federal Reserve Bank of St. Louis; https://fred.stlouisfed.org/series/MRTSSM4453USN, July 2, 2020.

In [64]:
sales = pd.read_csv('data/RetailSales_BeerWineLiquor.csv')

In [65]:
sales

           DATE  MRTSSM4453USN
0    1992-01-01           1509
1    1992-02-01           1541
2    1992-03-01           1597
3    1992-04-01           1675
4    1992-05-01           1822
..          ...            ...
335  2019-12-01           6630
336  2020-01-01           4388
337  2020-02-01           4533
338  2020-03-01           5562
339  2020-04-01           5207

[340 rows x 2 columns]

In [66]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           340 non-null    object
 1   MRTSSM4453USN  340 non-null    int64
dtypes: int64(1), object(1)
memory usage: 5.4+ KB

In [68]:
sales.iloc[0]['DATE']

'1992-01-01'

In [69]:
type(sales.iloc[0]['DATE'])

str

In [70]:
sales['DATE']

0      1992-01-01
1      1992-02-01
2      1992-03-01
3      1992-04-01
4      1992-05-01
          ...
335    2019-12-01
336    2020-01-01
337    2020-02-01
338    2020-03-01
339    2020-04-01
Name: DATE, Length: 340, dtype: object

In [ ]:
sales['DATE'].iloc[20:30] # number of units solds, monthwise

20    1993-09-01
21    1993-10-01
22    1993-11-01
23    1993-12-01
24    1994-01-01
25    1994-02-01
26    1994-03-01
27    1994-04-01
28    1994-05-01
29    1994-06-01
Name: DATE, dtype: object

In [77]:
sales['date_new'] = pd.to_datetime(sales['DATE'])

In [ ]:
# sales.drop('DATE_new',axis=1,inplace=True)

In [78]:
sales

           DATE  MRTSSM4453USN   date_new
0    1992-01-01           1509 1992-01-01
1    1992-02-01           1541 1992-02-01
2    1992-03-01           1597 1992-03-01
3    1992-04-01           1675 1992-04-01
4    1992-05-01           1822 1992-05-01
..          ...            ...        ...
335  2019-12-01           6630 2019-12-01
336  2020-01-01           4388 2020-01-01
337  2020-02-01           4533 2020-02-01
338  2020-03-01           5562 2020-03-01
339  2020-04-01           5207 2020-04-01

[340 rows x 3 columns]

In [79]:
sales.iloc[0]['date_new']

Timestamp('1992-01-01 00:00:00')

In [81]:
type(sales.iloc[0]['date_new'])

pandas._libs.tslibs.timestamps.Timestamp

------

## Attempt to Parse Dates Automatically

**parse_dates** - bool or list of int or names or list of lists or dict, default False
The behavior is as follows:

    boolean. If True -> try parsing the index.

    list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3 each as a separate date column.

    list of lists. e.g. If [[1, 3]] -> combine columns 1 and 3 and parse as a single date column.

    dict, e.g. {‘foo’ : [1, 3]} -> parse columns 1, 3 as date and call result ‘foo’

    If a column or index cannot be represented as an array of datetimes, say because of an unparseable value or a mixture of timezones, the column or index will be returned unaltered as an object data type. For non-standard datetime parsing, use pd.to_datetime after pd.read_csv. To parse an index or column with a mixture of timezones, specify date_parser to be a partially-applied pandas.to_datetime() with utc=True. See Parsing a CSV with mixed timezones for more.

In [82]:
# Parse Column at Index 0 as Datetime
sales = pd.read_csv('data/RetailSales_BeerWineLiquor.csv',parse_dates=[0])

In [83]:
sales

          DATE  MRTSSM4453USN
0   1992-01-01           1509
1   1992-02-01           1541
2   1992-03-01           1597
3   1992-04-01           1675
4   1992-05-01           1822
..         ...            ...
335 2019-12-01           6630
336 2020-01-01           4388
337 2020-02-01           4533
338 2020-03-01           5562
339 2020-04-01           5207

[340 rows x 2 columns]

In [85]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           340 non-null    datetime64[ns]
 1   MRTSSM4453USN  340 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 5.4 KB

In [84]:
sales.iloc[0]['DATE']

Timestamp('1992-01-01 00:00:00')

In [86]:
type(sales.iloc[0]['DATE'])

pandas._libs.tslibs.timestamps.Timestamp