## Data Input and Output

This notebook is the reference code for getting input and output, pandas can read a variety of file types using its pd.read_ methods. Let's take a look at the most common data types:

In [1]:
import numpy as np
import pandas as pd

## Check out the references here! 

**This is the best online resource for how to read/write to a variety of data sources!**

https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

----
----

<table border="1" class="colwidths-given docutils">
<colgroup>
<col width="12%" />
<col width="40%" />
<col width="24%" />
<col width="24%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Format Type</th>
<th class="head">Data Description</th>
<th class="head">Reader</th>
<th class="head">Writer</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>text</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV</a></td>
<td><a class="reference internal" href="#io-read-csv-table"><span class="std std-ref">read_csv</span></a></td>
<td><a class="reference internal" href="#io-store-in-csv"><span class="std std-ref">to_csv</span></a></td>
</tr>
<tr class="row-odd"><td>text</td>
<td><a class="reference external" href="https://www.json.org/">JSON</a></td>
<td><a class="reference internal" href="#io-json-reader"><span class="std std-ref">read_json</span></a></td>
<td><a class="reference internal" href="#io-json-writer"><span class="std std-ref">to_json</span></a></td>
</tr>
<tr class="row-even"><td>text</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/HTML">HTML</a></td>
<td><a class="reference internal" href="#io-read-html"><span class="std std-ref">read_html</span></a></td>
<td><a class="reference internal" href="#io-html"><span class="std std-ref">to_html</span></a></td>
</tr>
<tr class="row-odd"><td>text</td>
<td>Local clipboard</td>
<td><a class="reference internal" href="#io-clipboard"><span class="std std-ref">read_clipboard</span></a></td>
<td><a class="reference internal" href="#io-clipboard"><span class="std std-ref">to_clipboard</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Microsoft_Excel">MS Excel</a></td>
<td><a class="reference internal" href="#io-excel-reader"><span class="std std-ref">read_excel</span></a></td>
<td><a class="reference internal" href="#io-excel-writer"><span class="std std-ref">to_excel</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="http://www.opendocumentformat.org">OpenDocument</a></td>
<td><a class="reference internal" href="#io-ods"><span class="std std-ref">read_excel</span></a></td>
<td>&#160;</td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://support.hdfgroup.org/HDF5/whatishdf5.html">HDF5 Format</a></td>
<td><a class="reference internal" href="#io-hdf5"><span class="std std-ref">read_hdf</span></a></td>
<td><a class="reference internal" href="#io-hdf5"><span class="std std-ref">to_hdf</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://github.com/wesm/feather">Feather Format</a></td>
<td><a class="reference internal" href="#io-feather"><span class="std std-ref">read_feather</span></a></td>
<td><a class="reference internal" href="#io-feather"><span class="std std-ref">to_feather</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://parquet.apache.org/">Parquet Format</a></td>
<td><a class="reference internal" href="#io-parquet"><span class="std std-ref">read_parquet</span></a></td>
<td><a class="reference internal" href="#io-parquet"><span class="std std-ref">to_parquet</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://msgpack.org/index.html">Msgpack</a></td>
<td><a class="reference internal" href="#io-msgpack"><span class="std std-ref">read_msgpack</span></a></td>
<td><a class="reference internal" href="#io-msgpack"><span class="std std-ref">to_msgpack</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Stata">Stata</a></td>
<td><a class="reference internal" href="#io-stata-reader"><span class="std std-ref">read_stata</span></a></td>
<td><a class="reference internal" href="#io-stata-writer"><span class="std std-ref">to_stata</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/SAS_(software)">SAS</a></td>
<td><a class="reference internal" href="#io-sas-reader"><span class="std std-ref">read_sas</span></a></td>
<td>&#160;</td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://docs.python.org/3/library/pickle.html">Python Pickle Format</a></td>
<td><a class="reference internal" href="#io-pickle"><span class="std std-ref">read_pickle</span></a></td>
<td><a class="reference internal" href="#io-pickle"><span class="std std-ref">to_pickle</span></a></td>
</tr>
<tr class="row-odd"><td>SQL</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/SQL">SQL</a></td>
<td><a class="reference internal" href="#io-sql"><span class="std std-ref">read_sql</span></a></td>
<td><a class="reference internal" href="#io-sql"><span class="std std-ref">to_sql</span></a></td>
</tr>
<tr class="row-even"><td>SQL</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/BigQuery">Google Big Query</a></td>
<td><a class="reference internal" href="#io-bigquery"><span class="std std-ref">read_gbq</span></a></td>
<td><a class="reference internal" href="#io-bigquery"><span class="std std-ref">to_gbq</span></a></td>
</tr>
</tbody>
</table>

-----
----

# Reading in a  CSV
Comma Separated Values files are text files that use commas as field delimeters.<br>
Unless you're running the virtual environment included with the course, you may need to install <tt>xlrd</tt> and <tt>openpyxl</tt>.<br>
In your terminal/command prompt run:

    pip install xlrd
    pip install openpyxl

Then restart Jupyter Notebook.

## Understanding File Paths

You have two options when reading a file with pandas:

1. If your .py file or .ipynb notebook is located in the **exact** same folder location as the .csv file you want to read, simply pass in the file name as a string, for example:
    
        df = pd.read_csv('some_file.csv')
        
2. Pass in the entire file path if you are located in a different directory. The file path must be 100% correct in order for this to work. For example:

        df = pd.read_csv("C:\\Users\\myself\\files\\some_file.csv")

-----
#### NOTE! Common confusion point! Take note that all read input methods are called directly from pandas with pd.read_  , all output methods are called directly off the dataframe with df.to_

-------

In [3]:
pip show openpyxl

Note: you may need to restart the kernel to use updated packages.

WARNING: Package(s) not found: openpyxl

In [6]:
pip install xlrd

Collecting xlrd
  Using cached xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Using cached xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Using cached et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
pip show openpyxl

Name: openpyxl
Version: 3.1.5
Summary: A Python library to read/write Excel 2010 xlsx/xlsm files
Home-page: https://openpyxl.readthedocs.io
Author: See AUTHORS
Author-email: charlie.clark@clark-consulting.eu
License: MIT
Location: c:\Users\Vijaya Nandini\Documents\2024_12_B9_Datavalley\data_analysis_with_python_b9\.venv\Lib\site-packages
Requires: et-xmlfile
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip show xlrd

Name: xlrd
Version: 2.0.1
Summary: Library for developers to extract data from Microsoft Excel (tm) .xls spreadsheet files
Home-page: http://www.python-excel.org/
Author: Chris Withers
Author-email: chris@withers.org
License: BSD
Location: c:\Users\Vijaya Nandini\Documents\2024_12_B9_Datavalley\data_analysis_with_python_b9\.venv\Lib\site-packages
Requires:
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import numpy as np

### CSV Input

In [13]:
df = pd.read_csv('data/example.csv')

In [17]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [15]:
df.columns

Index(['a', 'b', 'c', 'd'], dtype='object')

In [16]:
df.set_index('a')

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [18]:
df = pd.read_csv('data/example.csv',index_col=0)

In [19]:
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [20]:
df = pd.read_csv('test.csv')

In [21]:
df

    A   B   C   D
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [22]:
df = pd.read_csv('../00_data/input_data.csv')

In [23]:
df

    A   B   C   D
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### CSV Output

Set index=False if you do not want to save the index , otherwise it will add a new column to the .csv file that includes your index and call it "Unnamed: 0" if your index did not have a name. If you do want to save your index, simply set it to True (the default value).

In [ ]:
df.to_csv('../00_data/output/new_file_1.csv')

In [25]:
df

    A   B   C   D
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [ ]:
df = df.set_index('A')

In [28]:
df

     B   C   D
A
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [31]:
df.to_csv('../00_data/output/new_file_2.csv') # indexing will be added by default

In [32]:
df.to_csv('../00_data/output/new_file_3.csv',index=False)

## HTML

Pandas can read table tabs off of HTML. This only works if your firewall isn't blocking pandas from accessing the internet!

Unless you're running the virtual environment included with the course, you may need to install <tt>lxml</tt>, <tt>htmllib5</tt>, and <tt>BeautifulSoup4</tt>.<br>
In your terminal/command prompt run:

    conda install lxml
    
    or
    
    pip install lxml
    
Then restart Jupyter Notebook (you may need to restart your computer).
(or use pip install if you aren't using the Anaconda Distribution)

## read_html

### HTML Input

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects. NOTE: This only works with well defined <table> objects in the html on the page, this can not magically read in tables that are images on a page.

In [33]:
pip install lxml

Collecting lxml
  Downloading lxml-5.3.1-cp312-cp312-win_amd64.whl.metadata (3.8 kB)
Downloading lxml-5.3.1-cp312-cp312-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   --------------------- ------------------ 2.1/3.8 MB 16.8 MB/s eta 0:00:01
   -------------------------------------- - 3.7/3.8 MB 18.2 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 8.1 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.3.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
pip show lxml

Name: lxml
Version: 5.3.1
Summary: Powerful and Pythonic XML processing library combining libxml2/libxslt with the ElementTree API.
Home-page: https://lxml.de/
Author: lxml dev team
Author-email: lxml-dev@lxml.de
License: BSD-3-Clause
Location: c:\Users\Vijaya Nandini\Documents\2024_12_B9_Datavalley\data_analysis_with_python_b9\.venv\Lib\site-packages
Requires:
Required-by:
Note: you may need to restart the kernel to use updated packages.

# Discussed on March 14, 2025

In [1]:
import pandas as pd

In [ ]:
# from urllib.error import HTTPError
try:
    tables = pd.read_html('https://en.wikipedia.org/wiki.dev/World_population')  # Some dummy link - which is not available
# except HTTPError as e:
#     print(f"Received HTTP error: {e}")
except Exception as e:
    print(e)

HTTP Error 404: Not Found

In [14]:
try:
    tables_new = pd.read_html('https://en.wikipedia.org/wiki.dev/World_population')  # Some dummy link - which is not available
except Exception as e:
    print(e)
    tables_new = 'ERROR'

HTTP Error 404: Not Found

In [15]:
print(tables_new)

ERROR

In [16]:
try:
    tables = pd.read_html('https://en.wikipedia.org/wiki/World_population')  # Some dummy link - which is not available
except Exception as e:
    print(e)
    tables = 'ERROR'

In [17]:
type(tables)

list

In [19]:
len(tables)

27

In [21]:
tables[2]

,Region,Density (inhabitants/km2),Population (millions),Most populous country,Most populous city (metropolitan area)
0,Asia,104.1,4641,"1,439,090,595 – India","13,515,000 – Tokyo Metropolis (37,400,000 – Gr..."
1,Africa,44.4,1340,"0,211,401,000 – Nigeria","09,500,000 – Cairo (20,076,000 – Greater Cairo)"
2,Europe,73.4,747,"0,146,171,000 – Russia, approx. 110 million in...","13,200,000 – Moscow (20,004,000 – Moscow metro..."
3,Latin America,24.1,653,"0,214,103,000 – Brazil","12,252,000 – São Paulo City (21,650,000 – São ..."
4,Northern America[note 1],14.9,368,"0,332,909,000 – United States","08,804,000 – New York City (23,582,649 – New Y..."
5,Oceania,5,42,"0,025,917,000 – Australia","05,367,000 – Sydney"
6,Antarctica,~0,0.004[86],N/A[note 2],"00,001,258 – McMurdo Station"

In [22]:
tables = pd.read_html('https://en.wikipedia.org/wiki/World_population')  # Web scrapping

In [5]:
# pd.read_html?

In [23]:
tables

[      Population         1     2     3     4     5     6     7     8     9  \
 0           Year      1804  1927  1960  1974  1987  1999  2011  2022  2037
 1  Years elapsed  200,000+   123    33    14    13    12    12    11    15

      10
 0  2057
 1    20  ,
                                Region  2022 (percent)  2030 (percent)  \
 0                  Sub-Saharan Africa  1,152 (14.51%)  1,401 (16.46%)
 1    Northern Africa and Western Asia     549 (6.91%)     617 (7.25%)
 2      Central Asia and Southern Asia  2,075 (26.13%)  2,248 (26.41%)
 3  Eastern Asia and Southeastern Asia  2,342 (29.49%)  2,372 (27.87%)
 4         Europe and Northern America  1,120 (14.10%)  1,129 (13.26%)
 5     Latin America and the Caribbean     658 (8.29%)     695 (8.17%)
 6           Australia and New Zealand      31 (0.39%)      34 (0.40%)
 7                             Oceania      14 (0.18%)      15 (0.18%)
 8                               World            7942            8512

    2050 (percent)
 0  2,094 (21.62%)
 1     771 (7.96%)
 2  2,575 (26.58%)
 3  2,317 (23.92%)
 4  1,125 (11.61%)
 5     749 (7.73%)
 6      38 (0.39%)
 7      20 (0.21%)
 8            9687  ,
                      Region Density (inhabitants/km2) Population (millions)  \
 0                      Asia                     104.1                  4641
 1                    Africa                      44.4                  1340
 2                    Europe                      73.4                   747
 3             Latin America                      24.1                   653
 4  Northern America[note 1]                      14.9                   368
 5                   Oceania                         5                    42
 6                Antarctica                        ~0             0.004[86]

                                Most populous country  \
 0                              1,439,090,595 – India
 1                            0,211,401,000 – Nigeria
 2  0,146,171,000 – Russia, approx. 110 million in...
 3                             0,214,103,000 – Brazil
 4                      0,332,909,000 – United States
 5                          0,025,917,000 – Australia
 6                                        N/A[note 2]

               Most populous city (metropolitan area)
 0  13,515,000 – Tokyo Metropolis (37,400,000 – Gr...
 1    09,500,000 – Cairo (20,076,000 – Greater Cairo)
 2  13,200,000 – Moscow (20,004,000 – Moscow metro...
 3  12,252,000 – São Paulo City (21,650,000 – São ...
 4  08,804,000 – New York City (23,582,649 – New Y...
 5                                05,367,000 – Sydney
 6                       00,001,258 – McMurdo Station  ,
   Country / Dependency  Population % of world         Date  \
 0                India  1425775850      17.5%  14 Apr 2023
 1                China  1409670000      17.3%  17 Jan 2024
 2        United States   337617877      4.14%  11 Mar 2025
 3            Indonesia   278696200      3.41%   1 Jul 2023
 4             Pakistan   229488994      2.81%   1 Jul 2022
 5              Nigeria   216746934      2.65%   1 Jul 2022
 6               Brazil   218901150      2.68%  11 Mar 2025
 7           Bangladesh   168220000      2.06%   1 Jul 2020
 8               Russia   147190000      1.80%   1 Oct 2021
 9               Mexico   128271248      1.57%  31 Mar 2022

   Source (official or from the United Nations)
 0                            UN projection[89]
 1                 National annual estimate[90]
 2                National population clock[91]
 3                 National annual estimate[92]
 4                            UN projection[93]
 5                            UN projection[93]
 6                National population clock[94]
 7               Annual Population Estimate[95]
 8          2021 preliminary census results[96]
 9                                          NaN  ,
                                                                                                                                                                                               #  \
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
 0                                                 NaN
 1                                                   1
 2                                                   2
 3                                                   3
 4                                                   4
 5                                                   5
 6                                                   6
 7                                                   7
 8                                                   8
 9                                                   9
 10                                                 10
 11                                                NaN
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

                               Most populous countries  \
                                    Unnamed: 1_level_1
                                    Unnamed: 1_level_2
                                    Unnamed: 1_level_3
                                    Unnamed: 1_level_4
                                    Unnamed: 1_level_5
                                    Unnamed: 1_level_6
                                    Unnamed: 1_level_7
                                    Unnamed: 1_level_8
                                    Unnamed: 1_level_9
                                   Unnamed: 1_level_10
                                   Unnamed: 1_level_11
 0   Graphs are unavailable due to technical issues...
 1                                            China[B]
 2                                               India
 3                                       United States
 4                                           Indonesia
 5                                            Pakistan
 6                                              Brazil
 7                                             Nigeria
 8                                          Bangladesh
 9                                              Russia
 10                                             Mexico
 11                                        World total
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                                  2000  \
                                    Unnamed: 2_level_1
                                    Unnamed: 2_level_2
                                    Unnamed: 2_level_3
                                    Unnamed: 2_level_4
                                    Unnamed: 2_level_5
                                    Unnamed: 2_level_6
                                    Unnamed: 2_level_7
                                    Unnamed: 2_level_8
                                    Unnamed: 2_level_9
                                   Unnamed: 2_level_10
                                   Unnamed: 2_level_11
 0                                                 NaN
 1                                                1270
 2                                                1053
 3                                                 283
 4                                                 212
 5                                                 136
 6                                                 176
 7                                                 123
 8                                                 131
 9                                                 146
 10                                                103
 11                                               6127
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                                  2015  \
                                    Unnamed: 3_level_1
                                    Unnamed: 3_level_2
                                    Unnamed: 3_level_3
                                    Unnamed: 3_level_4
                                    Unnamed: 3_level_5
                                    Unnamed: 3_level_6
                                    Unnamed: 3_level_7
                                    Unnamed: 3_level_8
                                    Unnamed: 3_level_9
                                   Unnamed: 3_level_10
                                   Unnamed: 3_level_11
 0                                                 NaN
 1                                                1376
 2                                                1311
 3                                                 322
 4                                                 258
 5                                                 208
 6                                                 206
 7                                                 182
 8                                                 161
 9                                                 146
 10                                                127
 11                                               7349
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                               2030[A]  \
                                    Unnamed: 4_level_1
                                    Unnamed: 4_level_2
                                    Unnamed: 4_level_3
                                    Unnamed: 4_level_4
                                    Unnamed: 4_level_5
                                    Unnamed: 4_level_6
                                    Unnamed: 4_level_7
                                    Unnamed: 4_level_8
                                    Unnamed: 4_level_9
                                   Unnamed: 4_level_10
                                   Unnamed: 4_level_11
 0                                                 NaN
 1                                                1416
 2                                                1528
 3                                                 356
 4                                                 295
 5                                                 245
 6                                                 228
 7                                                 263
 8                                                 186
 9                                                 149
 10                                                148
 11                                               8501
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...

    Graphs are unavailable due to technical issues. Updates on reimplementing the Graph extension, which will be known as the Chart extension, can be found on Phabricator and on MediaWiki.org.
                                                                                                                                                                              Unnamed: 5_level_1
                                                                                                                                                                              Unnamed: 5_level_2
                                                                                                                                                                              Unnamed: 5_level_3
                                                                                                                                                                              Unnamed: 5_level_4
                                                                                                                                                                              Unnamed: 5_level_5
                                                                                                                                                                              Unnamed: 5_level_6
                                                                                                                                                                              Unnamed: 5_level_7
                                                                                                                                                                              Unnamed: 5_level_8
                                                                                                                                                                              Unnamed: 5_level_9
                                                                                                                                                                             Unnamed: 5_level_10
                                                                                                                                                                             Unnamed: 5_level_11
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12  Notes: ^ 2030 = Medium variant. ^ China exclud...                                                                                                                                            ,
     0                                                  1
 0 NaN  Graphs are unavailable due to technical issues...,
    Rank                Country  Population  Area (km2)  Density (pop/km2)
 0     1              Singapore     5921231         719               8235
 1     2             Bangladesh   165650475      148460               1116
 2     3  Palestine[note 3][99]     5223000        6025                867
 3     4         Taiwan[note 4]    23580712       35980                655
 4     5            South Korea    51844834       99720                520
 5     6                Lebanon     5296814       10400                509
 6     7                 Rwanda    13173730       26338                500
 7     8                Burundi    12696478       27830                456
 8     9                 Israel     9402617       21937                429
 9    10                  India  1389637446     3287263                423,
    Rank         Country  Population  Area (km2)  Density (pop/km2)  \
 0     1           India  1389637446     3287263                423
 1     2        Pakistan   242923845      796095                305
 2     3      Bangladesh   165650475      148460               1116
 3     4           Japan   124214766      377915                329
 4     5     Philippines   114597229      300000                382
 5     6         Vietnam   103808319      331210                313
 6     7  United Kingdom    67791400      243610                278
 7     8     South Korea    51844834       99720                520
 8     9          Taiwan    23580712       35980                655
 9    10       Sri Lanka    23187516       65610                353

   Population trend[citation needed]
 0                           Growing
 1                   Rapidly growing
 2                           Growing
 3                    Declining[100]
 4                           Growing
 5                           Growing
 6                           Growing
 7                            Steady
 8                            Steady
 9                           Growing  ,
     Year  Population Yearly growth           Density (pop/km2)
     Year  Population             %    Number Density (pop/km2)
 0   1951  2543130380         1.75%  43808223                17
 1   1952  2590270899         1.85%  47140519                17
 2   1953  2640278797         1.93%  50007898                18
 3   1954  2691979339         1.96%  51700542                18
 4   1955  2746072141         2.01%  54092802                18
 ..   ...         ...           ...       ...               ...
 68  2019  7764951032         1.06%  81161204                52
 69  2020  7840952880         0.98%  76001848                53
 70  2021  7909295151         0.87%  68342271                53
 71  2022  7975105156         0.83%  65810005                54
 72  2023  8045311447         0.88%  70206291                54

 [73 rows x 5 columns],
                      Region  1500  1600  1700  1750  1800  1850  1900  1950  \
 0                     World   585   660   710   791   978  1262  1650  2521
 1                    Africa    86   114   106   106   107   111   133   221
 2                      Asia   282   350   411   502   635   809   947  1402
 3                    Europe   168   170   178   190   203   276   408   547
 4     Latin America[Note 1]    40    20    10    16    24    38    74   167
 5  Northern America[Note 1]     6     3     2     2     7    26    82   172
 6                   Oceania     3     3     3     2     2     2     6    13

    1999  2008  2010  2012  2050  2150
 0  6008  6707  6896  7052  9725  9746
 1   783   973  1022  1052  2478  2308
 2  3700  4054  4164  4250  5267  5561
 3   675   732   738   740   734   517
 4   508   577   590   603   784   912
 5   312   337   345   351   433   398
 6    30    34    37    38    57    51  ,
                      Region  1500  1600  1700  1750  1800  1850  1900  1950  \
 0                    Africa  14.7  17.3  14.9  13.4  10.9   8.8   8.1   8.8
 1                      Asia  48.2  53.0  57.9  63.5  64.9  64.1  57.4  55.6
 2                    Europe  28.7  25.8  25.1  20.6  20.8  21.9  24.7  21.7
 3     Latin America[Note 1]   6.8   3.0   1.4   2.0   2.5   3.0   4.5   6.6
 4  Northern America[Note 1]   1.0   0.5   0.3   0.3   0.7   2.1   5.0   6.8

In [24]:
len(tables) #tables

27

### Tables that need formatting

Some will be misaligned, meaning you need to do extra work to fix the columns and rows:

In [25]:
tables[2]

,Region,Density (inhabitants/km2),Population (millions),Most populous country,Most populous city (metropolitan area)
0,Asia,104.1,4641,"1,439,090,595 – India","13,515,000 – Tokyo Metropolis (37,400,000 – Gr..."
1,Africa,44.4,1340,"0,211,401,000 – Nigeria","09,500,000 – Cairo (20,076,000 – Greater Cairo)"
2,Europe,73.4,747,"0,146,171,000 – Russia, approx. 110 million in...","13,200,000 – Moscow (20,004,000 – Moscow metro..."
3,Latin America,24.1,653,"0,214,103,000 – Brazil","12,252,000 – São Paulo City (21,650,000 – São ..."
4,Northern America[note 1],14.9,368,"0,332,909,000 – United States","08,804,000 – New York City (23,582,649 – New Y..."
5,Oceania,5,42,"0,025,917,000 – Australia","05,367,000 – Sydney"
6,Antarctica,~0,0.004[86],N/A[note 2],"00,001,258 – McMurdo Station"

In [26]:
world_pop = tables[2]

In [27]:
world_pop.columns

Index(['Region', 'Density (inhabitants/km2)', 'Population (millions)',
       'Most populous country', 'Most populous city (metropolitan area)'],
      dtype='object')

In [28]:
type(world_pop)

pandas.core.frame.DataFrame

In [30]:
world_pop.to_csv('../00_data/output/world_population.csv',index=False)

## Write to html Output

If you are working on a website and want to quickly output the .html file, you can use to_html

In [31]:
world_pop.to_html('../00_data/output/world_population.html',index=False)

**read_html** is not perfect, but its quite powerful for such a simple method call!

# Excel Files

Pandas can read in basic excel files (it will get errors if there are macros or extensive formulas relying on outside excel files), in general, pandas can only grab the raw information from an .excel file.

#### NOTE: Requires the openpyxl and xlrd library! Its provided for you in our environment, or simply install with:

    pip install openpyxl
    pip install xlrd
    
Heavy excel users may want to check out this website: https://www.python-excel.org/

You can think of an excel file as a Workbook containin sheets, which for pandas means each sheet can be a DataFrame.

## Excel file input with read_excel()

In [33]:
df = pd.read_excel('data/my_excel_file.xlsx',sheet_name='First_Sheet')

In [34]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### What if you don't know the sheet name? Or want to run a for loop for certain sheet names? Or want every sheet?

Several ways to do this: https://stackoverflow.com/questions/17977540/pandas-looking-up-the-list-of-sheets-in-an-excel-file

In [35]:
# Returns a list of sheet_names
pd.ExcelFile('data/my_excel_file.xlsx').sheet_names

['First_Sheet']

#### Grab all sheets

In [36]:
excel_sheets = pd.read_excel('data/my_excel_file.xlsx',sheet_name=None)

In [37]:
type(excel_sheets)

dict

In [39]:
excel_sheets

{'First_Sheet':     a   b   c   d
 0   0   1   2   3
 1   4   5   6   7
 2   8   9  10  11
 3  12  13  14  15}

In [38]:
excel_sheets.keys()

dict_keys(['First_Sheet'])

In [40]:
excel_sheets['First_Sheet']

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [41]:
import numpy as np

In [46]:
array1 = np.linspace(1,101,20).reshape(4,5)

In [48]:
df2 = pd.DataFrame(array1)
df2

           0          1          2          3           4
0   1.000000   6.263158  11.526316  16.789474   22.052632
1  27.315789  32.578947  37.842105  43.105263   48.368421
2  53.631579  58.894737  64.157895  69.421053   74.684211
3  79.947368  85.210526  90.473684  95.736842  101.000000

### Write to Excel File

In [49]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [51]:
df.to_excel('../00_data/output/example.xlsx',sheet_name='First_Sheet',index=False)

In [50]:
df2

           0          1          2          3           4
0   1.000000   6.263158  11.526316  16.789474   22.052632
1  27.315789  32.578947  37.842105  43.105263   48.368421
2  53.631579  58.894737  64.157895  69.421053   74.684211
3  79.947368  85.210526  90.473684  95.736842  101.000000

In [52]:
df2.to_excel('../00_data/output/example.xlsx',sheet_name='Second_Sheet',index=False)

In [54]:
# Will be discussed on 16-Mar-2025

# SQL Connections

#### NOTE: Highly recommend you explore specific libraries for your specific SQL Engine. Simple search for your database+python in Google and the top results should hopefully include an API.

* [MySQL](https://www.google.com/search?q=mysql+python)
* [PostgreSQL](https://www.google.com/search?q=postgresql+python)
* [MS SQL Server](https://www.google.com/search?q=MSSQLserver+python)
* [Orcale](https://www.google.com/search?q=oracle+python)
* [MongoDB](https://www.google.com/search?q=mongodb+python)

Let's review pandas capabilities by using SQLite, which comes built in with Python.

## Example SQL Database (temporary in your RAM)

You will need to install sqlalchemy with:

    pip install sqlalchemy
    
to follow along. To understand how to make a connection to your own database, make sure to review: https://docs.sqlalchemy.org/en/13/core/connections.html

In [53]:
pip show sqlalchemy

^C
Note: you may need to restart the kernel to use updated packages.

WARNING: Package(s) not found: sqlalchemy

In [ ]:
pip install sqlalchemy

# Restart the kernel

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

In [ ]:
temp_db = create_engine('sqlite:///:memory:')

### Write to Database

In [ ]:
tables = pd.read_html('https://en.wikipedia.org/wiki/World_population')  # Web scrapping

In [ ]:
tables[4].head()

In [ ]:
pop = tables[4]

In [ ]:
pop.to_sql(name='populations',con=temp_db)

### Read from SQL Database

In [ ]:
# Read in an entire table
pd.read_sql(sql='populations',con=temp_db)

In [ ]:
# Read in with a SQL Query
pd.read_sql_query(sql="SELECT Region FROM populations",con=temp_db)